@model Project.Models.Prepodavateli;

<h2>Редактирование преподаватель</h2>
<form asp-action="edit" asp-controller="Prepodavatel" asp-route-id="@Model.Id">
    <p>
        <label asp-for="PrepName" >Имя</label><br />
        <input type="text" asp-for="PrepName">
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p> 

</form>